*.swp
*.swo
*.exe
*~
*.o
*.so
*.tmp
*.lock
.DS_Store

*.dSYM
.rust
*.dylib
*.rlib

*.pyc
*.pyo

obj
bin
/build/
/dist/
/wheelhouse/

/*.egg-info/
/venv/
/.venv/

nosetests.xml
/out/
/Output/

# git ls-files --others --exclude-from=.git/info/exclude
# git ls-files --others --exclude-from=.gitignore
