[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/summerfruit"]
	path = bundle/summerfruit
	url = https://github.com/vim-scripts/summerfruit.vim.git
[submodule "bundle/summerfruit256"]
	path = bundle/summerfruit256
	url = https://github.com/vim-scripts/summerfruit256.vim.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/grep.vim"]
	path = bundle/grep.vim
	url = https://github.com/vim-scripts/grep.vim.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/julia-vim"]
	path = bundle/julia-vim
	url = https://github.com/JuliaLang/julia-vim.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "fsharpbinding"]
	path = fsharpbinding
	url = https://github.com/fsharp/fsharpbinding.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/yate"]
	path = bundle/yate
	url = https://bitbucket.org/madevgeny/yate.git
[submodule "bundle/vim-hdevtools"]
	path = bundle/vim-hdevtools
	url = https://github.com/bitc/vim-hdevtools.git
[submodule "bundle/vim-annotations"]
	path = bundle/vim-annotations
	url = https://github.com/panagosg7/vim-annotations.git
[submodule "liquid"]
	path = liquid
	url = https://github.com/ucsd-progsys/liquid-types.vim
[submodule "liquid-types.vim"]
	path = liquid-types.vim
	url = https://github.com/ucsd-progsys/liquid-types.vim
