[submodule "vim-stuff/pathogen"]
	path = vim-stuff/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim-stuff/summerfruit"]
	path = vim-stuff/summerfruit
	url = https://github.com/vim-scripts/summerfruit.vim.git
[submodule "vim-stuff/summerfruit256"]
	path = vim-stuff/summerfruit256
	url = https://github.com/vim-scripts/summerfruit256.vim.git
[submodule "vim-markdown"]
	path = vim-markdown
	url = ./vim-stuff/vim-markdown/
[submodule "vim-stuff/vim-markdown"]
	path = vim-stuff/vim-markdown
	url = https://github.com/hallison/vim-markdown
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/summerfruit"]
	path = bundle/summerfruit
	url = https://github.com/vim-scripts/summerfruit.vim.git
[submodule "bundle/summerfruit256"]
	path = bundle/summerfruit256
	url = https://github.com/vim-scripts/summerfruit256.vim.git
[submodule "bundle/fsharp-vim"]
	path = bundle/fsharp-vim
	url = git@github.com:killerswan/fsharp-vim.git
